<h2><%= fa_stacked_icon "user-circle" %><%= @user.full_name %>'s Profile</h2>

<% if @company %>
    <h3>Your registered company:</h3>
    <p>
        <%= link_to @company.name, company_path(@company.id) %>
    </p>
<% else %>
    <%= link_to "Register Your Company", new_company_path, class: "btn btn-success"%>
<% end %>