<h1>Sales Index</h1>

<h2><%= @company.name %> Sales Data:</h2>

<table class="table">
    <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Revenue ($)</th>
    </tr>
    <% @sales.each do |sale| %>
        <tr>
            <td><%= sale.year %></td>
            <td><%= sale.month %></td>
            <td><%= sale.value %></td>
        </tr>
    <% end %>
</table>